# Ignore unnecessary files during Docker build
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.git/
.gitignore
README.md
PORTFOLIO.md
DEPLOYMENT.md
Dockerfile
.dockerignore
node_modules/
android/
app/
frontend/
build.gradle
capacitor.config.json
gradle/
gradlew*
settings.gradle
package*.json
local-manifest.json
*.apk
data/
.DS_Store